<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="tertiary" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Datos Globales</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list color="dark" *ngIf="data != null">

        <ion-item>
            <ion-label>
                <h1>Confirmados</h1>
                <h2>{{ data.TotalConfirmed | number }}</h2>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h1>Recuperados</h1>
                <h2>{{ data.TotalRecovered | number }}</h2>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h1>Muertos</h1>
                <h2>{{ data.TotalDeaths | number }}</h2>
            </ion-label>
        </ion-item>

    </ion-list>

    <h2 class="h2" *ngIf="data == null">Cargando...</h2>


</ion-content>